---
- name: Install Java OpenJDK 11
  ansible.builtin.shell: |
    amazon-linux-extras install java-openjdk11 -y
  args:
    creates: /usr/bin/java

- name: Download Jenkins repository
  ansible.builtin.get_url:
    url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
    dest: /etc/yum.repos.d/jenkins.repo
    mode: '0644'

- name: Import Jenkins GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://pkg.jenkins.io/redhat-stable/jenkins.io.key

- name: Install Jenkins
  ansible.builtin.yum:
    name: jenkins
    state: present

- name: Enable and start Jenkins service
  ansible.builtin.systemd:
    name: jenkins
    enabled: true
    state: started

- name: Wait for Jenkins to start
  ansible.builtin.wait_for:
    port: 8080
    delay: 10
    timeout: 300
