---
- hosts: jenkins
  become: true

  tasks:
    - name: Copy install script
      copy:
        src: ../../jenkinsProject/jenkins.sh
        dest: /tmp/jenkins.sh
        mode: "0755"

    - name: Run Jenkins install script
      shell: bash /tmp/jenkins.sh 2>&1 | tee /var/log/jenkins-install.log
      args:
        executable: /bin/bash
      register: jenkins_install
      failed_when: jenkins_install.rc != 0

    - name: Display Jenkins installation output
      debug:
        msg: "{{ jenkins_install.stdout_lines[-20:] }}"
      when: jenkins_install is defined and jenkins_install.stdout_lines is defined

    - name: Display Jenkins installation errors (if any)
      debug:
        var: jenkins_install.stderr_lines
      when: jenkins_install is defined and jenkins_install.stderr_lines is defined and jenkins_install.stderr_lines | length > 0